<header>
  <div class="" style="display: flex; align-items: center; gap: 1rem; justify-content: space-between;padding: 1rem;">
    <div class="mat-title-medium" style="display: flex; align-items: center; gap: 6px; cursor: pointer;">
      <mat-icon aria-hidden="false" aria-label="paid icon" fontIcon="paid"></mat-icon>
      <div>
        e-Commerce
      </div>
      <nav>
      </nav>
    </div>
    <mat-icon aria-hidden="false" aria-label="shopping_bag icon" fontIcon="shopping_bag"></mat-icon>
  </div>
</header>